@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.showElement {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotate(0);
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale3d(0.98, 0.98, 1) rotate(0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotate(0);
  }
}